.About {
    padding: 27px 54px 54px 54px;
}

@media screen and (max-width: 425px) {
    .About {
        padding: 27px;
    }
}

.About h1,
.About h3,
.About p,
.About ul {
    margin: 0px;
}

.About .About_Title {
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(1rem, 3vw, 3rem);
}

.About .About_Title h1 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
}

.About .About_Sections .individual_about_section {
    margin-bottom: 2rem;
    border-bottom: 2px solid gray;
}

.About .About_Sections .individual_about_section .intro_paragraph {
    margin-bottom: 0.5rem !important;
}

.About .About_Sections .individual_about_section .intro_paragraph:last-child {
    margin-bottom: 2rem !important;
}

.About .About_Sections .individual_about_section ul {
    margin-bottom: 2rem;
}

@media screen and (max-width: 500px) {
    .About .About_Title {
        margin: 1rem 0rem 0.5rem 0rem;
    }

    .About .About_Sections .individual_about_section {
        margin-bottom: 1rem;
    }
}

.About .About_Sections .individual_about_section p {
    font-size: clamp(0.75rem, 2vw, 1rem);
    text-align: justify;
}

.About .About_Sections .individual_about_section h3 {
    margin-bottom: 0.5rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.About .About_Sections .individual_about_section:nth-child(1) p {
    margin-bottom: 0.25rem;
}

.About .About_Sections .individual_about_section:nth-child(2) ul:nth-child(3) {
    margin-bottom: 0.5rem;
}

.About .About_Sections .individual_about_section .focus {
    color: gray;
}

.About .About_Sections .individual_about_section li {
    font-size: clamp(0.75rem, 2vw, 1rem);
    margin-bottom: 0.25rem;
}