.Active {
    padding: 27px 54px 54px 54px;
}

@media screen and (max-width: 425px) {
    .Active {
        padding: 27px;
    }
}

.Active h1,
.Active h3,
.Active p,
.Active ul {
    margin: 0px;
}

.Active b {
    font-weight: bolder;
}

.Active .Active_Title {
    margin: 2rem 0rem;
}

.Active .Active_Title h1 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
}

.Active .Active_Sections .individual_active_section {
    padding-bottom: 2rem;
    border-bottom: 2px solid gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-bottom: 2rem;
    grid-auto-flow: row dense;
}

.Active .Active_Sections .individual_active_section div:first-child {
    grid-column: span 2;
}

.Active .Active_Sections .individual_active_section img {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .Active .Active_Sections .individual_active_section {
        margin-bottom: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .Active .Active_Sections .individual_active_section div:first-child {
        grid-column: span 1;
    }
}

@media screen and (max-width: 500px) {
    .Active .Work_Experience_Title {
        margin: 1rem 0rem 0.5rem 0rem;
    }

    .Active .Active_Sections .individual_active_section {
        margin-bottom: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .Active .Active_Sections .individual_active_section div:first-child {
        grid-column: span 1;
        grid-row: 2;
    }

    .Active .Active_Sections .individual_active_section div:nth-child(2) {
        grid-column: span 1;
        grid-row: 1;
        display: flex;
        justify-content: center;
    }

    .Active .Active_Sections .individual_active_section div img {
        height: 75px;
        width: auto;
    }
}

.Active .Active_Sections .individual_active_section h3 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 0.5rem;
}

.Active .Active_Sections .individual_active_section li {
    font-size: clamp(0.75rem, 2vw, 1rem);
    /* text-align: justify; */
    margin-bottom: 1rem;
    line-height: 1.5;
    list-style-type: none;
}

.Active .Active_Sections .individual_active_section li:last-child {
    margin-bottom: 0rem;
}

.Active .Active_Sections .individual_active_section ul {
    margin-bottom: clamp(0.75rem, 2vw, 2rem);
    padding-left: 0rem;
}

.Active li .focus {
    color: gray;
}