.Collaborate {
    padding: 27px 54px 54px 54px;
}

@media screen and (max-width: 425px) {
    .Collaborate {
        padding: 27px;
    }
}

.Collaborate h1,
.Collaborate h3,
.Collaborate p,
.Collaborate ul {
    margin: 0px;
}

.Collaborate b {
    font-weight: bolder;
}

.Collaborate .Collaborate_Title {
    margin: 2rem 0rem;
}

.Collaborate .Collaborate_Title h1 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
}

.Collaborate .Collaborate_Sections img {
    width: 80%;
    margin: 0rem auto;
    margin-bottom: 0.5rem;
    display: block;
}

.Collaborate .Collaborate_Sections .text {
    margin-bottom: 0.5rem;
    font-size: clamp(0.75rem, 2vw, 1rem);
    text-align: justify;
}

.Collaborate .Collaborate_Sections a {
    color: #7BAEA4;
    text-decoration: none;
}

.Collaborate .Collaborate_Sections a:hover {
    background-color: #7BAEA4;
    color: white;
}