.OTST h1,
.OTST p,
.OTST h3,
.OTST h4 {
    margin: 0px;
}

.OTST {
    padding: 27px 54px 54px 54px;
}

@media screen and (max-width: 425px) {
    .OTST {
        padding: 27px;
    }
}

.OTST .OTST_Title {
    margin: 2rem 0rem;
}

.OTST .OTST_Title h1 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
}

.OTST .sections .first_section,
.OTST .sections .second_section,
.OTST .sections .third_section {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid gray;
}

.OTST .sections .first_section h3,
.OTST .sections .third_section h3 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 0.5rem;
}

.OTST .sections .first_section p,
.OTST .sections .third_section p {
    font-size: clamp(0.75rem, 2vw, 1rem);
    text-align: justify;
    line-height: 1.5;
}

.OTST .sections .third_section p {
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 500px) {
    .OTST .OTST_Title {
        margin: 1rem 0rem 0.5rem 0rem;
    }

    .OTST .sections .first_section,
    .OTST .sections .second_section,
    .OTST .sections .third_section {
        margin-bottom: 1rem;
    }
}

.OTST .second_section {
    display: flex;
    flex-direction: column;
}

.OTST .second_section .inputs {
    display: flex;
    background-color: #f0f0f0;
}

.OTST .second_section .inputs .inputs_left {
    flex: 1;
    padding: 2rem;
}

.OTST .second_section .inputs .inputs_left .select_options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 1rem;
}

.OTST .second_section .inputs .inputs_right .Buttons {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 1rem;
}

.OTST .second_section .inputs .inputs_left input {
    font-size: 1rem;
    height: 25px;
    padding: 0rem 0.25rem;
}

.OTST .second_section .inputs .inputs_right {
    flex: 1;
    padding: 2rem;
}

.OTST .second_section .inputs .inputs_right img {
    width: 25px;
    right: 25px;
    padding: 0rem 1rem;
}

.OTST .second_section .inputs .inputs_right .unoccupied_periods {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-bottom: 1rem;
}

.OTST .second_section .inputs .inputs_right .unoccupied_periods:last-child {
    padding-bottom: 0rem;
}

.OTST .legend p {
    font-size: smaller;
}

.OTST .legend p b {
    font-weight: 900;
}

.OTST .error_input p {
    font-size: smaller;
    color: red !important;
}

.OTST .error-input {
    border: 2px solid red;
    animation: shake 0.25s linear;
}

.OTST .disabled-button {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.OTST .all_outputs>* {
    font-size: smaller;
}

.OTST .sections .third_section img {
    width: 100%;
    border: 2px solid black;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(10px);
    }
}

.OTST .second_section .outputs {
    background-color: white;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.loading_thing {
    font-size: 5rem;
}


.tooltip {
    position: absolute;
    text-align: left;
    padding: .5rem;
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 8px;
    pointer-events: none;
}

.OTST .second_section a {
    color: #7BAEA4;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.OTST .second_section a:hover {
    background-color: #7BAEA4;
    color: white;
    padding: 0.1rem 0.1rem;
}

.OTST .third_section {
    display: flex;
    gap: 1rem;
}

.OTST .third_section .guidelines_text {
    flex: 1;
}

.OTST .third_section .guidelines_image {
    flex: 1;
}

@media screen and (max-width: 1025px) {
    /* First Section */

    .OTST .first_section {
        gap: calc(0.7 * 2rem);
    }

    .OTST .first_section .heading_and_links h1 {
        font-size: calc(0.7 * 2.5rem);
        margin-bottom: calc(0.7 * 1.65vmax);
    }

    .OTST .first_section .heading_and_links h3 {
        font-size: calc(0.7 * 1.75rem);
        margin-bottom: calc(0.7 * 1.65vmax);
    }

    .OTST .first_section .heading_and_links .Github_stuff {
        gap: calc(0.7 * 3.3vmax);
    }

    .OTST .first_section .heading_and_links .Github_stuff .icon {
        font-size: calc(0.7 * 3rem);
    }

    .OTST .first_section .heading_and_links .Github_stuff .text {
        font-size: calc(0.7 * 1rem);
    }

    .OTST .first_section .heading_and_links .Github_stuff .text:hover {
        border-radius: calc(0.7 * 0.25rem);
    }

    .OTST .first_section .heading_and_links .user_exp {
        font-size: calc(0.7 * 1rem);
        margin-top: calc(0.7 * 1.65vmax);
    }

    .OTST .first_section .contacts h3 {
        font-size: calc(0.7 * 1.75rem);
        margin-bottom: calc(0.7 * 1rem);
    }

    .OTST .first_section .contacts .Main .profile_image img {
        width: calc(0.7 * 150px);
        height: calc(0.7 * 150px);
        padding: calc(0.7 * 10px);
    }

    .OTST .first_section .contacts .Main .profile_image img:hover {
        width: calc(0.7 * 170px);
        height: calc(0.7 * 170px);
    }

    .OTST .first_section .contacts .Supports .profile_image img {
        width: calc(0.7 * 100px);
        height: calc(0.7 * 100px);
        padding: calc(0.7 * 10px);
    }

    .OTST .first_section .contacts .Supports .profile_image img:hover {
        width: calc(0.7 * 120px);
        height: calc(0.7 * 120px);
    }

    .OTST .first_section .contacts .Main {
        margin-bottom: calc(0.7 * 1.65vmax);
    }

    .OTST .first_section .contacts .Main .each_profile,
    .OTST .first_section .contacts .Supports .each_profile {
        width: calc(0.7 * 200px);
    }

    .OTST .first_section .contacts .profile_data a {
        margin-bottom: calc(0.7 * 0.5rem);
    }

    .OTST .first_section .contacts .profile_data h5 {
        font-size: calc(0.7 * 1rem);
    }

    .OTST .first_section .contacts .profile_data h5:hover {
        border-radius: calc(0.7 * 0.25rem);
    }

    /* Second Section */

    .OTST .second_section .inputs .inputs_left {
        padding: calc(0.7 * 2rem);
    }

    .OTST .second_section .inputs .inputs_left .select_options p,
    .OTST .second_section .inputs .inputs_right .unoccupied_periods p {
        font-size: calc(0.7 * 1rem);
    }

    .OTST .second_section .inputs .inputs_left .select_options {
        grid-template-columns: calc(0.7 * 1fr) calc(0.7 * 1fr);
        padding-bottom: calc(0.7 * 1rem);
    }

    .OTST .second_section .inputs .inputs_right .Buttons {
        padding-top: calc(0.7 * 1rem);
        gap: calc(0.7 * 1rem);
    }

    .OTST .second_section .inputs .inputs_left input {
        font-size: calc(0.7 * 1rem);
        height: calc(0.7 * 25px);
        padding: 0rem calc(0.7 * 0.25rem);
    }

    .OTST .second_section .inputs .inputs_right {
        padding: calc(0.7 * 2rem);
    }

    .OTST .second_section .inputs .inputs_right img {
        width: calc(0.7 * 25px);
        right: calc(0.7 * 25px);
        padding: 0rem calc(0.7 * 1rem);
    }

    .OTST .second_section .inputs .inputs_right .unoccupied_periods {
        display: grid;
        grid-template-columns: calc(0.7 * 1fr) calc(0.7 * 2fr);
        padding-bottom: calc(0.7 * 1rem);
    }

    .OTST .legend p {
        font-size: 0.7rem;
    }

    .OTST .error_input p {
        font-size: 0.7rem;
    }

    .OTST .error-input {
        border: calc(0.7 * 2px) solid red;
    }

    .OTST .all_outputs>* {
        font-size: 0.7rem;
    }

    .OTST .second_section .outputs {
        min-height: calc(0.7 * 400px);
    }

    .loading_thing {
        font-size: calc(0.7 * 5rem);
    }

    .tooltip {
        padding: calc(0.7 * .5rem);
        border: calc(0.7 * 1px) solid black;
        border-radius: calc(0.7 * 8px);
    }

    .OTST .css-b62m3t-container {
        width: calc(0.7 * 200px);
    }

    .OTST .css-b62m3t-container div div div {
        font-size: calc(0.7 * 1rem);
    }

    .OTST .third_section {
        flex-direction: column;
        gap: 0rem;
    }

    .OTST .third_section .guidelines_text ul {
        padding-left: calc(0.7 * 1rem);
    }

    .OTST .third_section .guidelines_image img {
        margin-bottom: calc(0.7 * 1.65vmax);
        border: calc(0.7 * 2px) solid black;
    }

    .OTST .second_section a {
        font-size: calc(0.7 * 1rem);
    }
}

@media screen and (max-width: 769px) {
    /* First Section */

    .OTST .first_section {
        gap: calc(0.4 * 2rem);
    }

    .OTST .first_section .heading_and_links h1 {
        font-size: calc(0.4 * 2.5rem);
        margin-bottom: calc(0.4 * 1.65vmax);
    }

    .OTST .first_section .heading_and_links h3 {
        font-size: calc(0.4 * 1.75rem);
        margin-bottom: calc(0.4 * 1.65vmax);
    }

    .OTST .first_section .heading_and_links .Github_stuff {
        gap: calc(0.4 * 3.3vmax);
    }

    .OTST .first_section .heading_and_links .Github_stuff .icon {
        font-size: calc(0.4 * 3rem);
    }

    .OTST .first_section .heading_and_links .Github_stuff .text {
        font-size: calc(0.4 * 1rem);
    }

    .OTST .first_section .heading_and_links .Github_stuff .text:hover {
        border-radius: calc(0.4 * 0.25rem);
    }

    .OTST .first_section .heading_and_links .user_exp {
        display: block;
        font-size: calc(0.4 * 1rem);
        margin-top: calc(0.4 * 1.65vmax);
    }

    .OTST .first_section .contacts h3 {
        font-size: calc(0.4 * 1.75rem);
        margin-bottom: calc(0.4 * 1rem);
    }

    .OTST .first_section .contacts .Main .profile_image img {
        width: calc(0.4 * 150px);
        height: calc(0.4 * 150px);
        padding: calc(0.4 * 10px);
    }

    .OTST .first_section .contacts .Main .profile_image img:hover {
        width: calc(0.4 * 170px);
        height: calc(0.4 * 170px);
    }

    .OTST .first_section .contacts .Supports .profile_image img {
        width: calc(0.4 * 100px);
        height: calc(0.4 * 100px);
        padding: calc(0.4 * 10px);
    }

    .OTST .first_section .contacts .Supports .profile_image img:hover {
        width: calc(0.4 * 120px);
        height: calc(0.4 * 120px);
    }

    .OTST .first_section .contacts .Main {
        margin-bottom: calc(0.4 * 1.65vmax);
    }

    .OTST .first_section .contacts .Main .each_profile,
    .OTST .first_section .contacts .Supports .each_profile {
        width: calc(0.4 * 200px);
    }

    .OTST .first_section .contacts .profile_data a {
        margin-bottom: calc(0.4 * 0.5rem);
    }

    .OTST .first_section .contacts .profile_data h5 {
        font-size: calc(0.4 * 1rem);
    }

    .OTST .first_section .contacts .profile_data h5:hover {
        border-radius: calc(0.4 * 0.25rem);
    }

    /* Second Section */

    .OTST .second_section .inputs .inputs_left {
        padding: calc(0.4 * 2rem);
    }

    .OTST .second_section .inputs .inputs_left .select_options p,
    .OTST .second_section .inputs .inputs_right .unoccupied_periods p {
        font-size: calc(0.4 * 1rem);
    }

    .OTST .second_section .inputs .inputs_left .select_options {
        grid-template-columns: calc(0.4 * 1fr) calc(0.4 * 1fr);
        padding-bottom: calc(0.4 * 1rem);
    }

    .OTST .second_section .inputs .inputs_right .Buttons {
        padding-top: calc(0.4 * 1rem);
        gap: calc(0.4 * 1rem);
    }

    .OTST .second_section .inputs .inputs_left input {
        font-size: calc(0.4 * 1rem);
        height: calc(0.4 * 25px);
        padding: 0rem calc(0.4 * 0.25rem);
    }

    .OTST .second_section .inputs .inputs_right {
        padding: calc(0.4 * 2rem);
    }

    .OTST .second_section .inputs .inputs_right img {
        width: calc(0.4 * 25px);
        right: calc(0.4 * 25px);
        padding: 0rem calc(0.4 * 1rem);
    }

    .OTST .second_section .inputs .inputs_right .unoccupied_periods {
        display: grid;
        grid-template-columns: calc(0.4 * 1fr) calc(0.4 * 2fr);
        padding-bottom: calc(0.4 * 1rem);
    }

    .OTST .legend p {
        font-size: 0.5rem;
    }

    .OTST .error_input p {
        font-size: 0.5rem;
    }

    .OTST .error-input {
        border: calc(0.4 * 2px) solid red;
    }

    .OTST .all_outputs>* {
        font-size: 0.5rem;
    }

    .OTST .second_section .outputs {
        min-height: calc(0.4 * 400px);
    }

    .loading_thing {
        font-size: calc(0.4 * 5rem);
    }

    .tooltip {
        padding: calc(0.4 * .5rem);
        border: calc(0.4 * 1px) solid black;
        border-radius: calc(0.4 * 8px);
    }

    .OTST .css-b62m3t-container {
        width: calc(0.4 * 200px);
    }

    .OTST .css-b62m3t-container div div div {
        font-size: calc(0.4 * 1rem);
    }

    .OTST .third_section .guidelines_text ul {
        padding-left: calc(0.4 * 1rem);
    }

    .OTST .third_section .guidelines_image img {
        margin-bottom: calc(0.4 * 1.65vmax);
        border: calc(0.4 * 2px) solid black;
    }

    .OTST .third_section .guidelines_text a {
        color: rgb(45, 99, 83);
    }

    .OTST .second_section a {
        font-size: calc(0.7 * 1rem);
    }
}

@media screen and (max-width: 424px) {
    /* First Section */

    .OTST .first_section {
        gap: calc(0.3 * 2rem);
    }

    .OTST .first_section .heading_and_links h1 {
        font-size: calc(0.3 * 2.5rem);
        margin-bottom: calc(0.3 * 1.65vmax);
    }

    .OTST .first_section .heading_and_links h3 {
        font-size: calc(0.3 * 1.75rem);
        margin-bottom: calc(0.3 * 1.65vmax);
    }

    .OTST .first_section .heading_and_links .Github_stuff {
        gap: calc(0.3 * 3.3vmax);
    }

    .OTST .first_section .heading_and_links .Github_stuff .icon {
        font-size: calc(0.3 * 3rem);
    }

    .OTST .first_section .heading_and_links .Github_stuff .text {
        font-size: calc(0.3 * 1rem);
    }

    .OTST .first_section .heading_and_links .Github_stuff .text:hover {
        border-radius: calc(0.3 * 0.25rem);
    }

    .OTST .first_section .heading_and_links .user_exp {
        font-size: calc(0.3 * 1rem);
        margin-top: calc(0.3 * 1.65vmax);
    }

    .OTST .first_section .contacts h3 {
        font-size: calc(0.3 * 1.75rem);
        margin-bottom: calc(0.3 * 1rem);
    }

    .OTST .first_section .contacts .Main .profile_image img {
        width: calc(0.3 * 150px);
        height: calc(0.3 * 150px);
        padding: calc(0.3 * 10px);
    }

    .OTST .first_section .contacts .Main .profile_image img:hover {
        width: calc(0.3 * 170px);
        height: calc(0.3 * 170px);
    }

    .OTST .first_section .contacts .Supports .profile_image img {
        width: calc(0.3 * 100px);
        height: calc(0.3 * 100px);
        padding: calc(0.3 * 10px);
    }

    .OTST .first_section .contacts .Supports .profile_image img:hover {
        width: calc(0.3 * 120px);
        height: calc(0.3 * 120px);
    }

    .OTST .first_section .contacts .Main {
        margin-bottom: calc(0.3 * 1.65vmax);
    }

    .OTST .first_section .contacts .Main .each_profile,
    .OTST .first_section .contacts .Supports .each_profile {
        width: calc(0.3 * 200px);
    }

    .OTST .first_section .contacts .profile_data a {
        margin-bottom: calc(0.3 * 0.5rem);
    }

    .OTST .first_section .contacts .profile_data h5 {
        font-size: calc(0.3 * 1rem);
    }

    .OTST .first_section .contacts .profile_data h5:hover {
        border-radius: calc(0.3 * 0.25rem);
    }

    /* Second Section */

    .OTST .second_section .inputs .inputs_left {
        padding: calc(0.3 * 2rem);
    }

    .OTST .second_section .inputs .inputs_left .select_options p,
    .OTST .second_section .inputs .inputs_right .unoccupied_periods p {
        font-size: calc(0.3 * 1rem);
    }

    .OTST .second_section .inputs .inputs_left .select_options {
        grid-template-columns: calc(0.3 * 1fr) calc(0.3 * 1fr);
        padding-bottom: calc(0.3 * 1rem);
    }

    .OTST .second_section .inputs .inputs_right .Buttons {
        padding-top: calc(0.3 * 1rem);
        gap: calc(0.3 * 1rem);
    }

    .OTST .second_section .inputs .inputs_left input {
        font-size: calc(0.3 * 1rem);
        height: calc(0.3 * 25px);
        padding: 0rem calc(0.3 * 0.25rem);
    }

    .OTST .second_section .inputs .inputs_right {
        padding: calc(0.3 * 2rem);
    }

    .OTST .second_section .inputs .inputs_right img {
        width: calc(0.3 * 25px);
        right: calc(0.3 * 25px);
        padding: 0rem calc(0.3 * 1rem);
    }

    .OTST .second_section .inputs .inputs_right .unoccupied_periods {
        display: grid;
        grid-template-columns: calc(0.3 * 1fr) calc(0.3 * 2fr);
        padding-bottom: calc(0.3 * 1rem);
    }

    .OTST .legend p {
        font-size: 0.3rem;
    }

    .OTST .error_input p {
        font-size: 0.3rem;
    }

    .OTST .error-input {
        border: calc(0.3 * 2px) solid red;
    }

    .OTST .all_outputs>* {
        font-size: 0.3rem;
    }

    .OTST .second_section .outputs {
        min-height: calc(0.3 * 400px);
    }

    .loading_thing {
        font-size: calc(0.3 * 5rem);
    }

    .tooltip {
        padding: calc(0.3 * .5rem);
        border: calc(0.3 * 1px) solid black;
        border-radius: calc(0.3 * 8px);
    }

    .OTST .css-b62m3t-container {
        width: calc(0.3 * 200px);
    }

    .OTST .css-b62m3t-container div div div {
        font-size: calc(0.3 * 1rem);
    }

    .OTST .third_section .guidelines_text ul {
        padding-left: calc(0.3 * 1rem);
    }

    .OTST .third_section .guidelines_image img {
        margin-bottom: calc(0.3 * 1.65vmax);
        border: calc(0.3 * 2px) solid black;
    }

    .OTST .second_section a {
        font-size: calc(0.6 * 1rem);
    }
}