.Teaching h1,
.Teaching h3,
.Teaching p,
.Teaching ul {
    margin: 0px;
}

.Teaching {
    padding: 27px 54px 54px 54px;
}

@media screen and (max-width: 425px) {
    .Teaching {
        padding: 27px;
    }
}

.Teaching .Teaching_Title {
    margin: 2rem 0rem;
}

.Teaching .Teaching_Title h1 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
}

.Teaching .Teaching_Sections {
    font-size: clamp(0.75rem, 2vw, 1rem);
}

.Teaching .Teaching_Sections h3 {
    margin-bottom: 0.5rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.Teaching .Teaching_Sections li {
    margin-bottom: 1rem;
}

.Teaching .Teaching_Sections li .focus {
    color: gray;
}

.Teaching .Teaching_Sections .individual_teaching_section h3 .city {
    font-size: clamp(0.625rem, 2vw, 1rem);
}

.Teaching .Teaching_Sections .individual_teaching_section {
    margin-bottom: 2rem;
    border-bottom: 2px solid gray;
}

@media screen and (max-width: 500px) {
    .Teaching .Teaching_Title {
        margin: 1rem 0rem 0.5rem 0rem;
    }

    .Teaching .Teaching_Sections .individual_teaching_section {
        margin-bottom: 1rem;
    }
}