.Training {
    padding: 27px 54px 54px 54px;
}

@media screen and (max-width: 425px) {
    .Training {
        padding: 27px;
    }
}

.Training h1,
.Training h3,
.Training p,
.Training ul {
    margin: 0px;
}

.Training b {
    font-weight: bolder;
}

.Training .Training_Title {
    margin: 2rem 0rem;
}

.Training .Training_Title h1 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
}

.Training .Training_Sections {
    font-size: clamp(0.75rem, 2vw, 1rem);
}

.Training .Training_Sections h3 {
    margin-bottom: 0.5rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.Training .Training_Sections h4 {
    margin-bottom: 0.5rem;
    font-size: clamp(0.75rem, 2vw, 1.25rem);
}

.Training .Training_Sections ul {
    margin-bottom: 2rem;
}

.Training .Training_Sections li {
    margin-bottom: 0.5rem;
}

.Training .Training_Sections li:last-child {
    margin-bottom: 0rem;
}

.Training .Training_Sections li .focus {
    color: gray;
}

.Training .Training_Sections .individual_training_section h3 .city {
    font-size: clamp(0.625rem, 2vw, 1rem);
}

.Training .Training_Sections .individual_training_section {
    margin-bottom: 2rem;
    border-bottom: 2px solid gray;
}

@media screen and (max-width: 500px) {
    .Training .Teaching_Title {
        margin: 1rem 0rem 0.5rem 0rem;
    }

    .Training .Training_Sections .individual_training_section {
        margin-bottom: 1rem;
    }
}